<form [formGroup]="exchangeForm">
	<mat-form-field class="child-1"
					appearance="fill">
		<mat-label>Amount</mat-label>
		<input matInput
			   id="amount"
			   formControlName="amount"
			   type="number" />
		<mat-error *ngIf="exchangeForm.controls['amount'].errors?.['required']">Amount is required.</mat-error>
	</mat-form-field>
	
	<mat-form-field class="child-2"
					appearance="fill">
		<mat-label>From currency</mat-label>
		<mat-select id="from"
					formControlName="from">
			<mat-option *ngFor="let symbol of symbols | async"
						[value]="symbol">
				{{symbol}}
			</mat-option>
		</mat-select>
		<mat-error *ngIf="exchangeForm.controls['from'].errors?.['required']">From is required.</mat-error>
	</mat-form-field>
	
	<mat-form-field class="child-3"
					appearance="fill">
		<mat-label>To currency</mat-label>
		<mat-select id="to"
					formControlName="to">
			<mat-option *ngFor="let symbol of symbols | async"
						[value]="symbol">
				{{symbol}}
			</mat-option>
		</mat-select>
		<mat-error *ngIf="exchangeForm.controls['to'].errors?.['required']">From is required.</mat-error>
	</mat-form-field>
	
	<div fxLayout="row"
		 fxLayoutAlign="center center">
		 
		<button type="button"
				mat-raised-button
				color="primary"
				(click)="convert()">Convert</button>
	</div>
	
	<ng-container *ngIf="toAmount != 0">
		<div fxLayout="row"
			 fxLayoutAlign="center center">
			 
			 {{fromAmount}} {{fromSymbol}} = 
		</div>
		
		<div fxLayout="row"
			 fxLayoutAlign="center center">
			 
			 {{toAmount}} {{toSymbol}}
			 
		</div>
	</ng-container>
</form>