<mat-toolbar class="mat-elevation-z6">
  	<h1>Demo</h1>
  
  	<mat-nav-list fxLayout="row"
  				  fxLayoutAlign="space-between">
		<a mat-list-item
		   routerLinkActive="active"
		   routerLink="/home">
		    Home
		</a>
  	</mat-nav-list>
  
</mat-toolbar>

<div class="container">
  <router-outlet></router-outlet>
</div>